<%- include('bootheader') -%>

<%- include('menubar') -%>

<<div class="jumbotron">
    <h1>Cost per Person</h1>
</div>
The cost per person for a meal for <%= numGuests %> people
that totaled $<%= mealCost %> with a tip of <%= tipRate %>%
is $<%= costPerPerson %>
<hr>
<a href="/restaurant">Calculate the cost per person for another meal</a>

<%- include('bootfooter') -%>
