<%- include('bootheader') -%>

<%- include('menubar') -%>

    <div class="jumbotron">
        <h1>Triangle Area</h1>
        <p> from lengths of 3 sides</p>
    </div>
    The area of a triangle with sides <%= a %>, <%= b %>, <%= c %>
    is <%= area %>
    <hr>
    <a href="/triangleArea">Calculate area of another triangle</a>


<%- include('bootfooter') -%>
